{% extends 'AppBundle::base.html.twig' %}

{% block title %}HealthMeter Beta Program{% endblock %}

{% block body -%}

<p class="text-center">
  <img src="/HealthMeter-logo.png"/><br/>
  <br/>
  Welcome to the HealthMeter beta!<br/>
  <br/>
    {% if not app.user %}
      <a href="{{ url('fos_user_security_login') }}" class="btn btn-info btn-lg" role="button">Log In</a>
      <a href="{{ url('fos_user_registration_register') }}" class="btn btn-warning btn-lg" role="button">Sign Up</a>
    {% endif %}
</p>

{% endblock %}
